<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="input" class="kwic.base.BaseInput" scope="singleton">
   		<constructor-arg name="name" value="input.txt"/>
   </bean>
   
   <bean id="circular-shift" class="kwic.base.BaseCircularShift" scope="singleton">
   </bean>
   
   <bean id="stopword" class="kwic.base.BaseStopWord" scope="singleton">
   </bean>
   
   <bean id="alphabetizing" class="kwic.base.BaseAlphabetizing" scope="singleton">
   </bean>
   
   <bean id="output" class="kwic.base.BaseOutput" scope="singleton">
   </bean>
</beans>
